{% extends "reportes/base_report.html" %}
{% load static %}

{% block title %}Reporte Financiero{% endblock %}
{% block content %}
{{ block.super }}
<h2 class="text-xl font-semibold mb-2">Finanzas de {{ start_date }} a {{ end_date }}</h2>
<div class="space-y-2 p-4 bg-gray-50 rounded-lg border mb-4">
  <p><strong>Total Ingresos:</strong> {{ data.ingresos }} Gs.</p>
  <p><strong>Total Egresos:</strong> {{ data.egresos }} Gs.</p>
  <p><strong>Balance:</strong> {{ data.balance }} Gs.</p>
</div>
{% endblock %}