{% extends "base.html" %}
{% block title %}Eliminar Usuario{% endblock %}
{% block content %}
<div class="max-w-md mx-auto bg-white p-8 rounded-xl shadow-lg mt-10 text-center">
    <h2 class="text-2xl font-bold mb-6 text-red-900">Eliminar Usuario</h2>
    <p>¿Seguro que querés eliminar el usuario <span class="font-bold">{{ usuario.username }}</span>?</p>
    <form method="post" class="mt-6">
        {% csrf_token %}
        <button type="submit" class="bg-red-700 px-4 py-2 text-white rounded hover:bg-red-900">Eliminar</button>
        <a href="{% url 'usuarios:usuarios_lista' %}" class="ml-4 text-blue-700 underline">Cancelar</a>
    </form>
</div>
{% endblock %}
